* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }
  body header, body main {
    background-color: #009d39; }
  body main a {
    color: #fed200; }
  body main a:hover {
    background-color: #012169;
    color: #fed200;
    scale: 1.1; }
  body footer {
    background-color: #012169; }
    body footer h4, body footer h5, body footer h6 {
      font-family: "Play", sans-serif;
      color: white;
      padding: 10px; }
    body footer div {
      padding: 15px; }

.mainIndex h1, .mainIndex h3 {
  font-family: "Michroma", sans-serif;
  color: #fed200;
  padding: 10px; }

.mainOHeroi .container-fluid h2, .mainOHeroi .container-fluid h5 {
  font-family: "Play", sans-serif;
  text-align: center;
  color: #fed200; }

.mainOHeroi .container-fluid h4 {
  font-family: "Play", sans-serif;
  color: #fed200;
  padding: 10px;
  text-align: left; }

.mainOHeroi .container-fluid p {
  font-family: "Jura", sans-serif;
  color: white;
  text-align: justify; }
  .mainOHeroi .container-fluid p .sorteo {
    color: #fed200; }

.mainGaleria h4 {
  background: #012169;
  font-family: "Play", sans-serif;
  color: #fed200;
  text-align: center; }

.mainContacto h5 {
  font-family: "Play", sans-serif;
  color: #fed200;
  text-align: center; }

.mainContacto section {
  display: inline-flex; }
  .mainContacto section form {
    width: 50%;
    margin-top: 5px;
    padding: 10px; }
    .mainContacto section form label {
      font-family: "Jura", sans-serif;
      color: #fed200; }
    .mainContacto section form .btn {
      font-family: "Jura", sans-serif;
      color: #fed200;
      font-size: 1.1rem; }
    .mainContacto section form .btn:hover {
      background-color: #012169;
      color: #fed200; }
  .mainContacto section .textoContacto {
    width: 50%;
    margin-top: 5px;
    padding: 10px;
    font-family: "Jura", sans-serif;
    font-size: 1.3rem;
    color: #fed200;
    text-align: justify;
    position: relative; }
    .mainContacto section .textoContacto div a {
      color: #fed200; }

@media screen and (max-width: 767px) {
  nav ul li {
    padding-inline: 20px;
    font-family: "Jura", sans-serif;
    font-size: 1.2rem; }
  .mainOHeroi {
    display: block; }
    .mainOHeroi div p {
      font-size: larger; }
  .mainContacto h5 {
    font-family: "Play", sans-serif;
    color: #fed200;
    text-align: center; }
  .mainContacto section {
    display: block; }
    .mainContacto section form {
      width: 100%;
      margin-top: 5px;
      padding: 10px; }
      .mainContacto section form label {
        font-family: "Jura", sans-serif;
        color: #fed200; }
      .mainContacto section form .btn {
        font-family: "Jura", sans-serif;
        background-color: #012169;
        color: #fed200;
        font-size: 0.9rem; }
      .mainContacto section form .btn:hover {
        background-color: #009d39;
        color: #fed200; }
    .mainContacto section .textoContacto {
      width: 100%;
      margin-top: 5px;
      padding: 10px;
      font-family: "Jura", sans-serif;
      font-size: 1rem;
      color: #fed200; }
      .mainContacto section .textoContacto div a {
        color: #fed200; } }

nav ul li {
  padding-inline: 35px;
  font-size: 1.6rem;
  font-family: "Jura", sans-serif; }
  nav ul li .nav-link {
    color: #fed200; }
  nav ul li .nav-link:hover {
    background-color: #012169;
    color: #fed200;
    border-radius: 5px; }
  nav ul li .dropdown-menu {
    background: #009d39; }
    nav ul li .dropdown-menu .dropdown-item {
      color: #fed200;
      text-align: center;
      font-size: 1rem; }
    nav ul li .dropdown-menu .dropdown-item:hover {
      background-color: #012169;
      color: #fed200;
      border-radius: 5px; }
