@media screen and (max-width:767px){
    
    nav{
        ul{
            li{
                padding-inline: 20px;
                font-family: $jura;
                font-size: 1.2rem;
            }
        }
    }

    


    .mainOHeroi{
        display: block;
        div{
            p{
                font-size: larger;
            }
        }
    }


    .mainContacto{
        h5{
            font-family: $play;
            color: $amarillo;
            text-align: center;
        }
        section{
            display: block;
            form{
                width: 100%;
                margin-top: 5px;
                padding: 10px;
                label{
                    font-family: $jura;
                    color: $amarillo;
                }
                .btn{
                    font-family: $jura;
                    background-color: $azul;
                    color: $amarillo;
                    font-size: 0.9rem;
                }
                .btn:hover{
                    background-color: $verde;
                    color: $amarillo;
                }
            }
            .textoContacto{
                width: 100%;
                margin-top: 5px;
                padding: 10px;
                font-family: $jura;
                font-size: 1rem;
                color: $amarillo;
                div{
                    a{
                        color: $amarillo;
                    }
                }
            }
        }
    }
    
}