nav{
    ul{
        li{
            padding-inline: 35px;
            font-size: 1.6rem;
            font-family: $jura;
            .nav-link{
                color: $amarillo;
            }
            .nav-link:hover{
                background-color: $azul;
                color: $amarillo;
                border-radius: 5px;
            }
            .dropdown-menu{
                background: $verde;
                .dropdown-item{
                    color: $amarillo;
                    text-align: center;
                    font-size: 1rem;
                }
                .dropdown-item:hover{
                    background-color: $azul;
                    color: $amarillo;
                    border-radius: 5px;
                }
            }
        }
    }
}
            
        